* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 42.5%; }
  @media screen and (min-width: 601px) {
    html {
      font-size: 52.5%; } }
  @media screen and (min-width: 993px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  line-height: 3.2rem;
  color: #797979;
  background-color: #F6F5F0; }

h1 {
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 5.5rem;
  line-height: 7.1rem;
  color: #AAA371;
  font-weight: normal; }
  h1 small {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: block;
    text-transform: uppercase;
    color: #A7A7A7;
    margin: 0 0 1.5rem 0; }

h2 {
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #AAA371;
  font-weight: normal; }
  h2 small {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: block;
    text-transform: uppercase;
    color: #A7A7A7;
    margin: 0 0 1.5rem 0; }

h3 {
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 2rem;
  line-height: 2.9rem;
  font-weight: normal; }
  @media screen and (min-width: 601px) {
    h3 {
      font-size: 2.3rem;
      line-height: 3.2rem; } }

p {
  margin: 2rem 0 4rem 0; }

img {
  display: block;
  margin: 0;
  max-width: 100%; }

.main {
  max-width: 1620px;
  margin: 0 auto; }

.button {
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  display: inline-block;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out; }
  @media screen and (min-width: 1200px) {
    .button {
      min-width: 17.8rem; } }
  .button.primary {
    background-color: #AAA371;
    color: #fff;
    border: 1px solid #8F895F; }
    .button.primary:hover {
      background-color: #8F895F;
      color: #fff; }
  .button.secondary {
    background-color: #A7A7A7;
    color: #fff;
    border: 1px solid #8C8C8C; }
    .button.secondary:hover {
      background-color: #8C8C8C;
      color: #fff; }

.header {
  background-color: #F6F5F0;
  max-width: 1620px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(170, 163, 113, 0.25); }
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
    height: 9rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 601px) {
      .header nav ul {
        height: 14.5rem;
        padding: 0 2rem; } }
    @media screen and (min-width: 993px) {
      .header nav ul {
        padding: 0 4rem; } }
    .header nav ul li a {
      font-size: 2rem;
      line-height: 3.8rem;
      text-decoration: none;
      color: #AAA371;
      display: block;
      overflow: hidden; }
      .header nav ul li a img {
        display: block; }
      .header nav ul li a span {
        display: none; }
        @media screen and (min-width: 993px) {
          .header nav ul li a span {
            display: block; } }
    .header nav ul li:nth-child(1) {
      width: calc(50% - 100px);
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; }
      .header nav ul li:nth-child(1) a {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .header nav ul li:nth-child(1) a img {
          padding: 0 2rem; }
    .header nav ul li:nth-child(2) {
      width: 200px; }
      .header nav ul li:nth-child(2) img {
        margin: 0 auto; }
    .header nav ul li:nth-child(3) {
      width: calc(50% - 100px);
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; }
      .header nav ul li:nth-child(3) a {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .header nav ul li:nth-child(3) a img {
          padding: 0 2rem; }
    .header nav ul li:nth-child(1) a span, .header nav ul li:nth-child(3) a span {
      position: relative; }
      .header nav ul li:nth-child(1) a span::before, .header nav ul li:nth-child(3) a span::before {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        height: 2px;
        width: 0;
        background-color: #AAA371;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .header nav ul li:nth-child(1) a span:hover::before, .header nav ul li:nth-child(3) a span:hover::before {
        width: 48%; }

section {
  overflow: hidden;
  text-align: center; }
  section.intro {
    background-color: #fff; }
    section.intro div {
      max-width: 80rem;
      margin: 0 auto;
      padding: 4rem 2rem; }
      @media screen and (min-width: 601px) {
        section.intro div {
          padding: 9rem 4rem; } }
      section.intro div p {
        font-size: 2rem;
        line-height: 3.8rem; }
  section.articles {
    background-color: #F6F5F0; }
    section.articles .items .item {
      padding: 2rem; }
      section.articles .items .item img {
        width: 100%;
        max-width: 32rem;
        margin: 0 auto 3rem auto; }
      section.articles .items .item .item-copy {
        padding: 4rem 2rem; }
        @media screen and (min-width: 601px) {
          section.articles .items .item .item-copy {
            padding: 4rem; } }
        @media screen and (min-width: 993px) {
          section.articles .items .item .item-copy {
            padding: 4rem 6rem;
            text-align: left; }
            section.articles .items .item .item-copy p {
              max-width: 49.6rem; } }
        section.articles .items .item .item-copy .button {
          margin: 0 1rem 1rem 1rem; }
          @media screen and (min-width: 993px) {
            section.articles .items .item .item-copy .button.primary {
              margin: 0 2rem 1rem 0; } }
      @media screen and (min-width: 993px) {
        section.articles .items .item {
          padding: 0;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          section.articles .items .item div {
            width: 50%; }
            section.articles .items .item div.item-image {
              position: relative; }
              section.articles .items .item div.item-image img {
                width: 100%;
                max-width: 100%;
                margin: 0 auto; }
              section.articles .items .item div.item-image::before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #454545;
                opacity: .2; }
          section.articles .items .item:nth-child(2) div.item-image {
            order: 2; }
          section.articles .items .item:nth-child(2) div.item-copy {
            order: 1; } }
  section.featured {
    background-color: #fff;
    padding: 3rem 1rem; }
    @media screen and (min-width: 993px) {
      section.featured {
        padding: calc(125px - 3rem); } }
    section.featured .items {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      max-width: calc(1316px + 3rem);
      margin: 0 auto; }
      section.featured .items .item {
        position: relative;
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        margin: 1rem .5rem; }
        @media screen and (min-width: 993px) {
          section.featured .items .item {
            margin: 3rem 1.5rem; } }
        section.featured .items .item .item-copy {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.42);
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 1rem;
          padding-bottom: 1.5rem; }
          @media screen and (min-width: 993px) {
            section.featured .items .item .item-copy {
              padding-bottom: 5rem;
              background-color: rgba(0, 0, 0, 0.22); } }
          section.featured .items .item .item-copy h3 {
            color: #fff;
            margin: auto auto 0 auto;
            opacity: 1; }
        section.featured .items .item::before {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          bottom: -7px;
          left: 0;
          right: 0;
          content: "";
          height: 2px;
          width: 0;
          background-color: #AAA371;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          @media screen and (min-width: 993px) {
            section.featured .items .item::before {
              bottom: -17px; } }
        section.featured .items .item:hover {
          -webkit-transform: scale(1.06);
          -moz-transform: scale(1.06);
          -ms-transform: scale(1.06);
          transform: scale(1.06); }
          section.featured .items .item:hover::before {
            width: 48%; }

/*# sourceMappingURL=style.css.map */
