// Variables
$color1: #F6F5F0;
$color2: #797979;
$color3: #AAA371;
$color4: #A7A7A7;
$color5: #8F895F;
$color6: #8C8C8C;

$medium: 601px;
$large: 993px;
$extraLarge: 1200px;
$maxWidth: 1620px;

$fontStyle1: 'Lato', sans-serif;
$fontStyle2: 'PT Serif', serif;

// Mixins
// Flexbox display
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;
    order: $val;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
    -webkit-align-content: $align;
    -moz-align-content: $align;
    -ms-align-content: $align;
    align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

// Transition
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// Transform
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// Transform Scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

// General + Typography
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 42.5%;
    @media screen and (min-width: $medium) {
        font-size: 52.5%; 
    }
    @media screen and (min-width: $large) {
        font-size: 62.5%; 
    }
}
body {
    font-family: $fontStyle1;
    font-size: 1.7rem;
    line-height: 3.2rem;
    color: $color2;
    background-color: $color1;
}

h1 {
    margin: 0;
    font-family: $fontStyle2;
    font-size: 5.5rem;
    line-height: 7.1rem;
    color: $color3;
    font-weight: normal;
    small {
        font-family: $fontStyle1;
        font-size: 1.5rem;
        line-height: 1.8rem;
        display: block;
        text-transform: uppercase;
        color: $color4;
        margin: 0 0 1.5rem 0;
    }
}

h2 {
    margin: 0;
    font-family: $fontStyle2;
    font-size: 4rem;
    line-height: 5.2rem;
    color: $color3;
    font-weight: normal;
    small {
        font-family: $fontStyle1;
        font-size: 1.5rem;
        line-height: 1.8rem;
        display: block;
        text-transform: uppercase;
        color: $color4;
        margin: 0 0 1.5rem 0;
    }
}

h3 {
    margin: 0;
    font-family: $fontStyle2;
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: normal;
    @media screen and (min-width: $medium) {
        font-size: 2.3rem;
        line-height: 3.2rem;
    }
}

p {
    margin: 2rem 0 4rem 0;
}

img {
    display: block;
    margin: 0;
    max-width: 100%;
}

.main {
    max-width: $maxWidth;
    margin: 0 auto;
}

// Components
.button {
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    display: inline-block;
    text-align: center;
    @include transition(background-color .3s ease-out);
    @media screen and (min-width: $extraLarge) {
        min-width: 17.8rem;
    }
    &.primary {
        background-color: $color3;
        color:#fff;
        border: 1px solid $color5;
        &:hover {
            background-color: $color5;
            color: #fff;
        }
    }
    &.secondary {
        background-color: $color4;
        color:#fff;
        border: 1px solid $color6;
        &:hover {
            background-color: $color6;
            color: #fff;
        }
    }
}

// Header
.header {
    background-color: $color1;
    max-width: $maxWidth;
    margin: 0 auto;
    border-bottom: 1px solid transparentize($color3, .75);
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 1rem;
            height: 9rem;
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @media screen and (min-width: $medium) {
                height: 14.5rem;
                padding: 0 2rem;
            }
            @media screen and (min-width: $large) {
                padding: 0 4rem;
            }
            li {
                a {
                    font-size: 2rem;
                    line-height: 3.8rem;
                    text-decoration: none;
                    color: $color3;
                    display: block;
                    overflow: hidden;
                    img {
                        display: block;
                    }
                    span {
                        display: none;
                        @media screen and (min-width: $large) {
                            display: block;
                        }
                    }
                }
                &:nth-child(1) {
                    width: calc(50% - 100px);
                    @include flexbox();
                    @include justify-content(flex-start);
                    a {
                        @include flexbox();
                        @include justify-content(center);
                        @include align-items(center);
                        img {
                            padding: 0 2rem;
                        }
                    }
                }
                &:nth-child(2) {
                    width: 200px;
                    img {
                        margin: 0 auto;
                    }
                }
                &:nth-child(3) {
                    width: calc(50% - 100px);
                    @include flexbox();
                    @include justify-content(flex-end);
                    a {
                        @include flexbox();
                        @include justify-content(center);
                        @include align-items(center);
                        img {
                            padding: 0 2rem;
                        }
                    }
                }

                &:nth-child(1),
                &:nth-child(3) {
                    a span {
                        position: relative;
                        &::before {
                            position: absolute;
                            margin-left: auto;
                            margin-right: auto;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            content: "";
                            height: 2px;
                            width: 0;
                            background-color: $color3;
                            @include transition(all .5s ease-in-out);
                        }
                        &:hover {
                            &::before {
                                width: 48%;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

// Sections
section {
    overflow: hidden;
    text-align: center;
    &.intro {
        background-color: #fff;
        div {
            max-width: 80rem;
            margin: 0 auto;
            padding: 4rem 2rem;
            @media screen and (min-width: $medium) {
                padding: 9rem 4rem;
            }
            p {
                font-size: 2rem;
                line-height: 3.8rem;
            }
        }
    }
    &.articles {
        background-color: $color1;
        .items {
            .item {
                padding: 2rem;
                img {
                    width: 100%;
                    max-width: 32rem;
                    margin: 0 auto 3rem auto;
                }
                .item-copy {
                    padding: 4rem 2rem;
                    @media screen and (min-width: $medium) {
                        padding: 4rem;
                    }
                    @media screen and (min-width: $large) {
                        padding: 4rem 6rem;
                        text-align: left;
                        p {
                            max-width: 49.6rem;
                        }
                    }
                    .button {
                        margin: 0 1rem 1rem 1rem;
                        &.primary {
                            @media screen and (min-width: $large) {
                                margin: 0 2rem 1rem 0; 
                            }
                        }
                    }
                }
                @media screen and (min-width: $large) {
                    padding: 0;
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    div {
                        width: 50%;
                        &.item-image {
                            position: relative;
                            img {
                                width: 100%;
                                max-width: 100%;
                                margin: 0 auto;
                            }
                            &::before {
                                content:" ";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: #454545;
                                opacity: .2;
                            }
                        }
                    }
                    &:nth-child(2) {
                        div {
                            &.item-image {
                                order: 2;
                            }
                            &.item-copy {
                                order: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    &.featured {
        background-color: #fff;
        padding: 3rem 1rem;
        @media screen and (min-width: $large) {
            padding: calc(125px - 3rem);
        }
        .items {
            @include flexbox();
            max-width: calc(1316px + 3rem);
            margin: 0 auto;
            .item {
                position: relative;
                @include transition(transform .3s);
                margin: 1rem .5rem;
                @media screen and (min-width: $large) {
                    margin: 3rem 1.5rem;
                }
                .item-copy {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparentize(#000, .58);
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    padding: 1rem;
                    padding-bottom: 1.5rem;
                    @media screen and (min-width: $large) {
                        padding-bottom: 5rem;
                        background-color: transparentize(#000, .78);
                    }
                    h3 {
                        color:#fff;
                        margin: auto auto 0 auto;
                        opacity: 1;
                    }
                }
                &::before {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    bottom: -7px;
                    @media screen and (min-width: $large) {
                        bottom: -17px;  
                    }
                    left: 0;
                    right: 0;
                    content: "";
                    height: 2px;
                    width: 0;
                    background-color: $color3;
                    @include transition(all .5s ease-in-out);
                }
                &:hover {
                    &::before {
                        width: 48%;
                    }
                    @include scale(1.06);
                }
            }
        }
    }
}